.microservices-dialog{
  display:none;
  position:fixed;
  width:300px;
  height:400px;
  bottom:30px;
  left:400px;
  border:solid 2px black;
  background-color:white;
  overflow-y: auto;
  z-order:1000;
}

.microservice-name{
  text-align: center;
  font-size: 20px;
  padding-top:10px;
  padding-bottom:10px;
}